* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

/**********************************************************/
.navbar {
  display: flex;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.nav {
  display: flex;
  flex: 97%;
}
.nav a,
.nav div {
  flex-wrap: nowrap;
  margin: 0%;
  color: white;
  text-align: center;
  text-decoration: none;
}
.nav a {
  padding: 8px 16px;
}
.nav a:hover,
.nav div:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.logo:hover {
  background-color: rgb(187, 183, 183) !important;
  color: black !important;
}
/**********************************************************/
.dropdown {
  position: relative;
  display: inline-block;
}

.btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: normal;
  text-transform: none;
  font: inherit;
  margin: 0;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
}

.dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  color: #000;
}

.dropdown-content a:hover {
  background-color: rgb(187, 183, 183);
}

.dropdown:hover .dropdown-content {
  background-color: white;
  display: block;
}

.dropdown:hover .btn {
  background-color: rgb(187, 183, 183);
  color: black;
}
/**********************************************************/
.searchIcon {
  flex: 3%;
  float: right;
  color: white !important;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
}
.searchIcon:hover {
  color: white !important;
  background-color: #009688 !important;
}
/**********************************************************/
.learnW3 {
  position: relative;
  justify-content: center;
  left: 1.2%;
  bottom: 2.65%;
  background-color: black;
  color: white;
  border: none;
  font: inherit;
  font-size: 24px !important;
  padding: 8px 16px;
  cursor: pointer;
}
.learnW3:hover {
  background-color: #009688;
}
/**********************************************************/
.ourTeam {
  text-align: center;
  padding: 0.01em 16px;
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}
.team {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
}
.rowImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rowImg div {
  margin: 0px;
  width: 24.99999%;
}
/**********************************************************/
.ourWork {
  /* text-align: center; */
  display: block;
  color: #fff !important;
  background-color: #333333 !important;
  padding-top: 55px !important;
  padding-bottom: 60px !important;
  padding: 0 8px;
  flex-wrap: nowrap;
}
.ourWork div {
  margin: 0.6%;
  text-align: center;
}
/**********************************************************/
.plus {
  position: absolute;
  top: 1677px;
  left: 1277px;
}
.plus1 {
  color: #fff !important;
  background-color: #009688 !important;
  font-size: 24px !important;
  border-radius: 50%;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
}
.plus1:hover {
  background-color: #cccccc !important;
  color: #000 !important;
}
/**********************************************************/
.price {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  padding: 0 8px;
  text-align: center !important;
}
.price2 {
  display: flex;
  flex-wrap: nowrap;
}
.price2 div {
  margin: 0.65%;
}
.price3 {
  display: flex;
  flex-direction: column;
  width: 33.33333%;
  border: 1px solid #ccc !important;
}
.price3:hover {
  box-shadow: 1px 6px 6px 1px rgba(0, 0, 0, 0.16),
    2px 6px 6px 2px rgba(0, 0, 0, 0.12);
}
.price3 div {
  margin: 0%;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.price3 div:last-child {
  border-bottom: none;
}
.theme {
  color: #fff !important;
  background-color: #000000 !important;
}
.theme1 {
  color: #fff !important;
  background-color: #666666 !important;
}
.padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.signUp {
  color: #000 !important;
  background-color: #f0f0f0 !important;
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.signUp2 {
  color: #fff !important;
  background-color: #009688 !important;
  padding: 12px 24px !important;
  border: none;
  text-align: center;
  cursor: pointer;
  font: inherit;
}
.signUp2:hover {
  background-color: #b4b4b4 !important;
  color: #000 !important;
}
/**********************************************************/
.contactUs {
  padding: 0.01em 16px;
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  color: #000 !important;
  background-color: #f0f0f0 !important;
}

.contactUs2 {
  display: flex;
  padding-bottom: 10px !important;
}

.contactUs2 div {
  margin: 0%;
}
.contactUs3 {
  font-size: 24px !important;
  border-bottom: 6px solid !important;
  border-color: #009688 !important;
}
.element {
  color: #009688 !important;
  font-size: 24px !important;
}
.form2 {
  display: flex;
  flex-direction: column;
  color: #000 !important;
  background-color: #fff !important;
  padding-top: 16px !important;
  padding-bottom: 25px !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.01em 16px;
}
.section {
  margin-top: 16px !important;
}
.input {
  padding: 13px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  background-color: white;
  cursor: text;
}
.check {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}
.send {
  color: #fff !important;
  background-color: #000000 !important;
  float: right !important;
  border: none;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 15px !important;
  font: inherit;
}
/**********************************************************/
.mapImg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  box-sizing: inherit;
  filter: grayscale(50%);
}
/**********************************************************/
footer {
  background-color: #000;
  color: white;
  padding: 0.01em 16px;
  padding-top: 32px !important;
  padding-bottom: 80px !important;
  text-align: center !important;
}
.socialLinks {
  display: flex;
  justify-content: center;
}

.socialLinks a {
  color: #fff !important;
  background-color: #009688 !important;
  font-size: 18px !important;
  padding: 8px 16px;
  margin: 2.5px;
}

.socialLinks a:hover {
  background-color: #cccccc !important;
  color: #000 !important;
}
.Top {
  display: flex;
  position: relative;
  bottom: 100px;
  float: right !important;
  box-sizing: inherit;
}
.Top a,
.Top span {
  margin-left: 5px;
}
.goTop {
  display: none;
  position: relative;
  color: #fff !important;
  background-color: #009688 !important;
  padding: 8px 16px !important;
  height: 40px;
  margin-top: 7px;
}
.goTop1 {
  color: #fff !important;
  background-color: #000000 !important;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
}
.goTop1:hover {
  background-color: #cccccc !important;
  color: #000 !important;
}

.Top:hover .goTop {
  display: block;
}
